<div class="content">

  <div class="left">
    <div class="col-lg-12">
      <div class="logo">
        <img src="" alt="Logo" />
        <div class="text-center">
          <span class="title"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="right">

    <div class="form-content">

      <div class="form">

        <!-- LOGIN -->
        <form role="form" id="login">
          <div class="row no-gutters">
            <div class="col-lg-12 col-md-8 margin-bottom-xxxs text-center">
              <span class="title text-center">Bem vindo</span><br />
              <span class="subtitle text-center">Entre na sua conta</span>
            </div>

            <div class="col-lg-12 col-md-8 margin-top-xxxs margin-bottom-xxxs">
              <div class="input-top-label">
                <span class="top-label" for="input-email">E-mail</span>
                <i class="icon-emailoutline"></i>
                <input id="input-email" name="input-email" type="text" class="input" placeholder="Insira seu e-mail"
                  autocomplete="off" maxlength="256" formControlName="email" />
                <span class="bottom-label" for="input-email">Campo obrigatório</span>
              </div>
            </div>
            <div class="col-lg-12 col-md-8 margin-bottom-xxxs">
              <div class="input-top-label">
                <span class="top-label" for="input-senha">Senha</span>
                <input id="input-senha" name="input-senha" type="password" class="input" placeholder="Insira sua senha"
                  autocomplete="off" maxlength="60" formControlName="senha" />
                <span class="bottom-label" for="input-senha">Campo obrigatório</span>
              </div>
            </div>

            <div class="col-lg-12 col-md-8 margin-bottom-xxxs text-center">
              <span class="message" for="">Usuário ou senha incorretos</span>
            </div>

            <div class="col-lg-12 col-md-8">
              <button id="btn-entrar" name="btn-entrar" type="button" class="w-100 button-primary-high">Entrar</button>
            </div>

            <div class="col-lg-12 col-md-8 margin-top-xxxs text-center">
              <span><a class="link-primary no-underline">Esqueci minha senha</a></span>
            </div>
          </div>
        </form>

      </div>

    </div>

    <div class="row version">
      <p class="body-1">Versão</p>
    </div>
  </div>

</div>
