@import '../../lib_styles/src/tokens';

html,
body {
  height: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;

  background: url() no-repeat center top;
  background-size: cover;

  .left,
  .right {
    position: relative;
    width: 50%;
    height: 100%;
    min-height: 100%;
    display: flex;
    float: left;
    align-items: center;

    .version {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 100%;
      width: 35%;
      align-items: flex-end;
      align-content: flex-end;
      position: relative;

      p {
        color: $color-white;
      }
    }

  }
}

.logo {
  position: absolute;
  width: 320px;
  height: 66px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


  img {
    width: 228px;
    height: auto;
    margin-bottom: $spacing-stack-nano;
  }

  span {
    display: block;
    font-size: 24px;
    font-family: "Raleway Medium";
    color: $color-white;
  }
}


.form-content {
  width: 398px;
  background-color: $color-white;
  box-shadow: 8px 16px 36px #00000029;
  border-radius: 8px;

  .form {
    position: relative;
    width: 302px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 50px 0;

    .title {
      position: relative;
      font-size: 20px;
      font-family: "Raleway Regular";
      color: $color-neutral-700;
      display: block;
    }

    .subtitle {
      position: relative;
      font-size: 24px;
      font-family: "Raleway Bold";
      color: $color-primary-200;
      display: block;
    }

    .subtitle-esqueci {
      position: relative;
      font-size: 16px;
      font-family: "Raleway Regular";
      color: $color-neutral-700;
      line-height: 30px;
      display: block;
    }

    .txt {
      font-size: 13px;
      font-family: "Raleway Regular";
      color: $color-neutral-200;
      line-height: 16px;

      .alert {
        color: $color-accent-100;
      }

      .alert-error {
        color: $color-negative-400;
      }
    }

    .input-top-label {

      &.erro {
        input {
          border: 1px solid $color-negative-200;
        }
      }
    }

    .message {
      color: $color-negative-200;
      font-family: $font-family-main $font-weight-400;
    }

    .no-border {
      border: 0;
    }

    button#btn-nova-senha[disabled] {
      border: 0;
      color: $color-neutral-900;
    }

  }
}

#modal {
  .modal {
    .modal_inner {
      width: 480px;
      height: 240px;
      padding: 1em 40px;
    }

    h6 {
      font-size: 20px;
      font-family: "Raleway Medium";
      margin-block-start: 1.33em;
      margin-block-end: 0.33em;
      border-bottom: 1px solid $color-neutral-600;
      padding-bottom: 15px;
    }

    p {
      font-size: 14px;
      font-family: "Raleway Regular";
      color: $color-neutral-500;
      line-height: 20px;
    }

    button {
      width: 190px;
      margin-right: 10px;
    }
  }
}
